



<div class="row">
    <div class="col-md-4">
        <!-- <strong>Ex -01(Manual)</strong>
        <hr>
       <ul>
        <li>Map data => ['tech','comedy','news']</li>
       </ul>
       <P>Message <strong class="text-success">msg1</strong></P> -->
    </div>
    <div class="col-md-4">
        <!-- <strong>Ex -02(Manual)</strong>
        <ul>
            <li>Map Data =>  ['tech','comedy','news']</li>
           </ul>
        <hr>
        <P>Message <strong class="text-success">msg2</strong></P> -->
    </div>
    <div class="col-md-4">
        <strong>Ex -03(concatmap)</strong>
        <ul id="elContainer">
            <li></li>
           </ul>
        <hr>
    </div>
</div>
