<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <button #addBtn class="btn btn-outline-primary">Add</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">video list</h5>
        <ul id="elContainer" class="list-group"></ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">video list</h5>
        <ul id="elContainer2" class="list-group"></ul>
      </div>
    </div>
  </div>
</div>
