<p>concatmapnotification works!</p>
<div class="iphone-x">
    <i>Speaker</i>
    <b>Camera</b>
    <s>10:24</s>
    
<div class="notification" id="elContainer">
    <!-- <div class="item">
        <div class="header">
              <div class="app">
                       Facebook
              </div>
              <div class="time">
                    4 Second Ago...
              </div>
        </div>
        <div class="body">
               <strong>Pratik Ghoghari</strong>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
        </div>
    </div>
    <div class="item">
        <div class="header">
              <div class="app">
                       Facebook
              </div>
              <div class="time">
                    3 Second Ago...
              </div>
        </div>
        <div class="body">
               <strong>Jaydip Hadiya</strong>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
    </div>
    <div class="item">
        <div class="header">
              <div class="app">
                       Facebook
              </div>
              <div class="time">
                    2 Second Ago...
              </div>
        </div>
        <div class="body">
               <strong>Dharmik </strong>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
    </div>
    <div class="item">
        <div class="header">
              <div class="app">
                       Facebook
              </div>
              <div class="time">
                    1 Second Ago...
              </div>
        </div>
        <div class="body">
               <strong>Vishal Variya</strong>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        </div>
    </div> -->
    

</div>

    <span>Left action button</span>
    <span>Right action button</span>
  </div>