<p>to-array works!</p>
<div class="row">
    <div class="col-4">
      <p class="bg-light py-2 px-3border rounded">
        <strong>Data: </strong>Array convert
      </p>
      <ul id="elContainer"></ul>
    </div>
    <div class="col-4">
      <p class="bg-light py-2 px-3border rounded">
        <strong>Data: </strong>Array convert
      </p>
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-4">
      <p class="bg-light py-2 px-3border rounded">
        <strong>Data: </strong>string convert
      </p>
      <ul id="elContainer2"></ul>
    </div>
  </div>