<p>concat works!</p>

<div class="row">
  <div class="col-md-4">
    <strong>Ex -01(tech channel)</strong>
    <hr />
    <ul>
      <li>(tech channel):- 1,2,3,4,5</li>
    </ul>
  </div>
  <div class="col-md-4">
    <strong>Ex -02(comedy channel)</strong>
    <hr />
    <ul>
      <li>(comedy channel):- 1,2,3</li>
    </ul>
  </div>
  <div class="col-md-4">
    <strong>Ex -03(news channel)</strong>
    <hr />
    <ul>
      <li>(news channel):- 1,2,3,4</li>
    </ul>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">your channel subscribe</div>
      <div class="card-body">
        <ul id="elContainer">
      
        </ul>
      </div>
    </div>
  </div>
</div>
