



<div class="row">
    <div class="col-md-4">
        <strong>Ex -01(Manual)</strong>
        <hr>
       <ul>
        <li>Map data => 'video' + data</li>
       </ul>
       <div>
        <table>
            <tr>
                <th> Names</th>
            </tr>
            <tr *ngFor="let items of data">
                <td>{{items}}</td>
            </tr>
        </table>

       </div>
    </div>  
    <div class="col-md-4">
        <strong>Ex -02(Manual)</strong>
        <ul>
            <li>Map Data => data * 5</li>
           </ul>
        <hr>
        <div>
            <table>
                <tr>
                    <th> Names job > title</th>
                </tr>
                <tr *ngFor="let items of data2">
                    <td>{{items}}</td>
                </tr>
            </table>
    
           </div>
    </div>
    <div class="col-md-4">
        <strong>Ex -03(Manual)</strong>
        <ul id="elContainer">
            <li></li>
           </ul>
        <hr>
    </div>
</div>
