
<!-- <app-container [data]="users"></app-container>-->

<!-- content
<app-container>
  <h1 input>Content1!</h1>
  <h2 form-field>Content2!</h2>
  <h3 input form-field>Content1 & Content2!</h3>
</app-container>-->


<!-- template -->
<!-- <div>
  <div  *ngIf="false; else show">Shouldn't be displayed</div>

</div>
<ng-template #show> Should be displayed </ng-template> -->

<!-- content -->
<!-- <h1 first> pratik</h1>

<app-container second> <h1 second> raj</h1></app-container>

output -->
<!-- <app-container (press)="greet($event)"></app-container>   -->

<!-- <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template> -->
<!-- <ngx-ui-loader fgsColor="#ee82ee" pbColor="#ee82ee" text="Please Wait..." textColor="white" ></ngx-ui-loader>


<!-- 
<select class="form-select">
  <ng-container *ngFor="let item of namesource">
    <option [value]="item">{{ item }}</option>
  </ng-container>
</select> -->
<app-all></app-all> 
<router-outlet></router-outlet>
