<div class="row">
  <div class="col-6">
    <strong class="text-bold">Ex:1 (0f)</strong>
    <div class="row">
      <div class="col-6">
        <p class="bg-light py-2 px-3border rounded">
          <strong>Data: </strong>of( 'Pratik','Jaydip','Dharmik')
        </p>
      </div>
      <ul id="elContainer"></ul>
      <div class="col-6">
        <p class="bg-light py-2 px-3border rounded">
          <strong>Data: </strong
          >of(&#123;a:'Pratik',b:'Jaydip',c:'Dharmik'&#125;)
        </p>
      </div>
      <ul>
        <li><strong>a:</strong>{{ obsMsg.a }}</li>
        <li><strong>b:</strong>{{ obsMsg.b }}</li>
        <li><strong>c:</strong>{{ obsMsg.c }}</li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <strong class="text-bold">Ex:2 (from)</strong>
    <div class="row">
      <div class="col-4">
        <p class="bg-light py-2 px-3border rounded">
          <strong>Data: </strong>from(['Pratik','Jaydip','Dharmik'])
        </p>
        <ul id="elContainer2"></ul>
      </div>
      <div class="col-4">
        <p class="bg-light py-2 px-3border rounded">
          <strong>Data: </strong>Promise to Observable
        </p>
        <ul id="elContainer3"></ul>
      </div>
      <div class="col-4">
        <p class="bg-light py-2 px-3border rounded">
          <strong>Data: </strong>String to Observable
        </p>
        <ul id="elContainer4"></ul>
      </div>
    </div>
  </div>
</div>
