<p>switchmap-search works!</p>

<div class="my-3">
  <h2>Switchmap</h2>

  <div>
    <div *ngIf="err">
      <div class="alert alert-danger" role="alert">
        {{err}}
      </div>
    </div>
  </div>
  <br />
  <h5>search table</h5>
  <form #searchform="ngForm">
    <div class="mt-3">
        <input type="text" required name="searchterm" ngModel class="form-control form-control-lg" />
      </div>
  </form>
 
  <br />
  <hr />
  <br />
  <div class="result" *ngIf="searchResults">
    <div class="d-flex">
      <h5>search result</h5>
      <span class="ml-auto text-muted">{{searchResultsCount}} Result Found....</span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Title & Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of searchResults index as i" >
          <th scope="row">{{i+1}}</th>
          <td>
            <img
              src="{{item.thumb}}"
              height=""
              width="100"
              alt=""
            />
          </td>
          <td>
            <strong> {{item.title}}</strong
            >
            <p>
             {{item.Description}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
