
<div class="card text-center">
    <div class="card-header">
      Featured
      <strong *ngIf="exclusive">Exclusive</strong>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <a class="btn btn-outline-primary mx-2" routerLink="fromEvent">FromEvent</a>
      <a class="btn btn-outline-primary mx-2" routerLink="interval">Interval</a>
      <a class="btn btn-outline-primary mx-2" routerLink="offrom">Of-From</a>
      <a class="btn btn-outline-primary mx-2" routerLink="toArray">ToArray</a>
      <a class="btn btn-outline-primary mx-2" routerLink="custom">CustomObservable</a>
      <a class="btn btn-outline-primary mx-2" routerLink="map">Map</a>
      <a class="btn btn-outline-primary mx-2" routerLink="pluck">Pluck</a>
      <a class="btn btn-outline-primary mx-2" routerLink="filter">Filter</a>
      <a class="btn btn-outline-primary mx-2" routerLink="tap">Tap</a>
      <a class="btn btn-outline-primary mx-2" routerLink="take">Take</a>
      <a class="btn btn-outline-primary mx-2" routerLink="retry">Retry</a>
      <a class="btn btn-outline-primary mx-2" routerLink="debounce">Debounce</a>
      <a class="btn btn-outline-primary mx-2" routerLink="concatmap">ConcatMap</a>
      <a class="btn btn-outline-primary mx-2" routerLink="concat">Concat</a>
      <a class="btn btn-outline-primary mx-2" routerLink="concatmearge">ConcatMearge</a>
      <a class="btn btn-outline-primary mx-2" routerLink="concatmapnotification">ConcatmapNotification</a>
      <a class="btn btn-outline-primary mx-2" routerLink="meargemap">MeargeMap</a>
      <a class="btn btn-outline-primary mx-2" routerLink="switchmap">Switchmap</a>
      <a class="btn btn-outline-primary mx-2" routerLink="switchmapsearch">SwitchmapSearch</a>
      <a class="btn btn-outline-primary mx-2" routerLink="exhaustmap">Exhaustmap</a>
      <a class="btn btn-outline-primary mx-2" routerLink="subject">Subject</a>
      <a class="btn btn-outline-primary mx-2" routerLink="asyncsubject">AsyncSubject</a>
      <a class="btn btn-outline-primary mx-2" routerLink="sharereplay">Sharereplay</a>
      <a class="btn btn-outline-primary mx-2" routerLink="catchthrow">catchThrowError</a>
      <a class="btn btn-outline-primary mx-2" routerLink="combinelatest">Combinelatest</a>
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>
