ul.video-list{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
ul.video-list li{
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
